<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'PostItem' %>
	<h3>Items search for "<%= @content %>"</h3>
  <%= render 'post_items/index', post_items: @records %>
<% end %>