<div class="start">
  <div class="a">
    <div class="top-image1"></div>
    <p>ようこそ！！Recommendersへ</p>
    <button class="btn1">次へ</button>
  </div>

  <div class="b section">
    <p>recommenderとは？</p>
    <button class="btn2">次へ</button>
    <div class="top-image2"></div>
  </div>

  <div class="c section">
    <div class="top-image3"></div>
    <p>どんどん投稿してpointを稼ごう！！</p>
    <button class="btn3">次へ</button>
  </div>

  <div class="d section">
    <p>さあ、recommenderの世界へ！！</p>
    <button class="btn4">始める</button>
    <div class="top-image4"></div>
  </div>

</div>

