<div class="start">
  <div class="a">
    <button class="btn1">a</button>
    <p>ようこそ！！Recommendersへ</p>
  </div>

  <div class="b section">
    <button class="btn2">b</button>
    <p>recommenderとは？</p>
  </div>

  <div class="c section">
    <button class="btn3">c</button>
    <p>どんどん投稿してpointを稼ごう！！</p>
  </div>

  <div class="d section">
    <p>さあ、recommenderの世界へ！！</p>
  </div>

</div>

