// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap {
  margin-bottom: 50px;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
}

.tab-content {
  img {
    border-radius: 2%;
  }
}

.tab-content:first-child {
  padding: 20px 20px 60px 20px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  p {
    background-image: image-url("crown-gold.jpg");
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
  img {
    width: 350px;
    height: 450px;
  }
}

.tab-content:nth-child(2) {
  padding: 20px 20px 60px 20px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  p {
    background-image: image-url("crown-silver.jpg");
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
  img {
    width: 350px;
    height: 450px;
  }
}

.tab-content:nth-child(3) {
  padding: 20px 20px 60px 20px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  p {
    background-image: image-url("crown-bronze.jpg");
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
  img {
    width: 350px;
    height: 450px;
  }
}

.tab-content:nth-child(n+4) {
  margin: 30px 50px 30px 40px;
}

.tab-user-content:first-child {
  padding: 20px 20px 60px 20px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  p {
    background-image: image-url("crown-gold.jpg");
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
  img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
  }
}

.tab-user-content:nth-child(2) {
  padding: 20px 20px 60px 20px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  p {
    background-image: image-url("crown-silver.jpg");
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
  img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
  }
}

.tab-user-content:nth-child(3) {
  padding: 20px 20px 60px 20px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  p {
    background-image: image-url("crown-bronze.jpg");
    background-size: cover;
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
  img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
  }
}

.tab-user-content:nth-child(n+4) {
  margin: 30px 20px 30px 20px;
  img {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
  }
}

#about-slide {
  height: 500px;
  .image1 {
    background-image: image-url("test1.jpg");
    background-size: cover;
    height: 500px;
  }
  .image2 {
    background-image: image-url("test2.jpg");
    background-size: cover;
    height: 500px;
  }
  .image3 {
    background-image: image-url("test3.jpg");
    background-size: cover;
    height: 500px;
  }
  .image4 {
    background-image: image-url("test4.jpg");
    background-size: cover;
    height: 500px;
  }
}

.recommend-items {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  img {
    border-radius: 2%;
    border: 2px solid #222127;
  }
}

.recommend-users {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  .recommend-user {
    margin: 20px;
    text-align: center;
    img {
      border-radius: 50%;
      border: 1px solid rgba(0,0,0,0.5);
    }
  }
}

.fa-chevron-left {
  color: black;
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: -45px;
  top: 145px;
}

.fa-chevron-right {
  color: black;
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: -45px;
  top: 140px
}

.top-slide {
  margin-bottom: 50px;
  h2 {
    border-bottom: 2px solid black;
  }
}

#about-slide {
  margin-bottom: 50px;
}

.start {
  margin: 20px auto;
  height: 570px;
}

.start-1, .start-6 {
  width: 1240px;
  text-align: center;
  position: absolute;
  h1 {
    height: 200px;
    padding: 100px;
    border-bottom: none;
  }
  a {
    margin: 30px;
    color: #FFFFFF;
  }
  .btn, .btn1 {
    border-radius : 5%;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #03A9F4;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    border        : 2px solid #03A9F4;    /* 枠の指定 */
    // width: 180px;
    margin: 0 30px 0 30px;
  }
}

.start-2 {
  width: 1240px;
  height: 500px;
  position: absolute;
  display: flex;
  .top-image1 {
    background-image: image-url("about1.jpeg");
    background-size: cover;
    width: 750px;
    height: 500px;
  }
  .start-2-content {
    width: 490px;
    text-align: center;
    h2 {
      margin: 70px 0 40px 0;
    }
    h3 {
      margin: 20px 0 20px 0;
    }
  }
  .btn2 {
    border-radius : 5%;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #03A9F4;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    border        : 2px solid #03A9F4;    /* 枠の指定 */
    width: 180px;
    margin: 0 30px 0 30px;
    display: inline-block;
  }
}

.start-3 {
  width: 1240px;
  height: 500px;
  position: absolute;
  display: flex;
  .top-image2 {
    background-image: image-url("about2.jpeg");
    background-size: cover;
    width: 620px;
    height: 500px;
  }
  .start-3-content {
  width: 490px;
  text-align: center;
    h2 {
      margin: 70px 0 40px 0;
    }
    h3 {
      margin: 20px 0 20px 0;
    }
  }
  .btn3 {
    border-radius : 5%;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #03A9F4;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    border        : 2px solid #03A9F4;    /* 枠の指定 */
    width: 180px;
    margin: 0 30px 0 30px;
    display: inline-block;
  }
}
.start-4 {
  width: 1240px;
  height: 500px;
  position: absolute;
  display: flex;
  .top-image3 {
    background-image: image-url("about3.jpeg");
    background-size: cover;
    width: 800px;
    height: 530px;
  }
  .start-4-content {
    text-align: center;
    h2 {
      margin: 70px 0 40px 0;
    }
    h3 {
      margin: 20px 0 20px 0;
    }
    .btn4 {
      border-radius : 5%;          /* 角丸       */
      font-size     : 15px;        /* 文字サイズ */
      text-align    : center;      /* 文字位置   */
      cursor        : pointer;     /* カーソル   */
      padding       : 5px 5px;   /* 余白       */
      background    : #03A9F4;     /* 背景色     */
      color         : #ffffff;     /* 文字色     */
      border        : 2px solid #03A9F4;    /* 枠の指定 */
      width: 180px;
      margin: 0 30px 0 30px;
      display: inline-block;
    }
  }
}

.start-5 {
  width: 1240px;
  height: 500px;
  position: absolute;
  display: flex;
  .top-image4 {
    background-image: image-url("about4.jpeg");
    background-size: cover;
    width: 620px;
    height: 500px;
  }
  .start-5-content {
    text-align: center;
    width: 600px;
    h2 {
      margin: 70px 0 40px 0;
    }
    h3 {
      margin: 20px 0 20px 0;
    }
    .btn5 {
      border-radius : 5%;          /* 角丸       */
      font-size     : 15px;        /* 文字サイズ */
      text-align    : center;      /* 文字位置   */
      cursor        : pointer;     /* カーソル   */
      padding       : 5px 5px;   /* 余白       */
      background    : #03A9F4;     /* 背景色     */
      color         : #ffffff;     /* 文字色     */
      border        : 2px solid #03A9F4;    /* 枠の指定 */
      width: 180px;
      margin: 0 30px 0 30px;
      display: inline-block;
    }
  }
}


