// Place all the styles related to the PostItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-post-btn {
  margin: 0 0 0 auto;
  width: 60px;
  font-size: 15px;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background-color: #eb6100;
  background: #f56500;
  border-radius: 50%;
  height: 60px;
  a {
    color: #FFFFFF;
  }
}

.genre-sidebar {
  width: 160px;
  height: max-content;
  padding: 10px 0 0;
  text-align: center;
  border: 4px double #fee;
  margin: 35px 50px 0 0;

  a {
    display: block;
  }

}

.post-item-index {
  display: flex;
  padding-bottom: 50px;
}

.post-item {
  display: flex;
  flex-wrap: wrap;
  a {
    margin: 20px 30px 0 0;
    text-align: center;
  }
}

.post-item-show {
  display: flex;
  padding: 40px 40px 40px 100px;
  .post-item-recommend {
    margin-left: 50px;
  }
  a {
    margin-right: 30px;
  }
}