// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index {
  display: flex;
  flex-wrap: wrap;
  min-height: 520px;
  .users-index-content {
    margin: 20px;
    img {
      border-radius: 50%;
      border: 1px solid rgba(0,0,0,0.5);
    }
    h3 {
      text-align: center;
    }
  }
}

.user-show {
  display: flex;
  padding: 40px 40px 40px 100px;
  img {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
  }
  .user-show-content {
    margin-left: 60px;
    width: 500px;
  }
    .btn {
      display       : inline-block;
      border-radius : 5%;          /* 角丸       */
      font-size     : 15px;        /* 文字サイズ */
      text-align    : center;      /* 文字位置   */
      cursor        : pointer;     /* カーソル   */
      padding       : 5px 5px;   /* 余白       */
      background    : #03A9F4;     /* 背景色     */
      color         : #ffffff;     /* 文字色     */
      border        : 2px solid #03A9F4;    /* 枠の指定 */
      width: 100px;
    }
}

.user-edit {
  display: flex;
  padding: 40px 40px 40px 100px;
  img {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
  }
  .user-edit-form {
    margin-left: 60px;
    #user_name, #user_email, textarea {
      float: left;
      width: 100%;
      max-width: 100%;
      border: none;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      background: darken(#f9f9f9, 10%);
      color: darken(#f9f9f9, 50%);
    }
    .btn {
      display       : inline-block;
      border-radius : 5%;          /* 角丸       */
      font-size     : 15px;        /* 文字サイズ */
      text-align    : center;      /* 文字位置   */
      cursor        : pointer;     /* カーソル   */
      padding       : 5px 5px;   /* 余白       */
      background    : #03A9F4;     /* 背景色     */
      color         : #ffffff;     /* 文字色     */
      border        : 2px solid #03A9F4;    /* 枠の指定 */
      width: 100px;
      margin: 15px;
    }
  }
}

.user-post {
  border-bottom: 2px solid black;
}

.user-post-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 125px;
  img {
    border-radius: 2%;
  }
  a {
    margin: 20px 30px 0 0;
    text-align: center;
  }
  .user-post-item-content {
    margin: 20px;
  }
}

.unsubscribe-form {
  text-align: center;
  h1 {
    border: none;
    margin-top: 40px;
  }
  .unsubscribe-image {
    background-image: image-url("unsubscribe.jpeg");
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  .btn {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #03A9F4;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    border        : 2px solid #03A9F4;    /* 枠の指定 */
    width: 200px;
    margin: 30px;
  }
  .btn-danger {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #ff7f7f;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    border        : 2px solid #ff7f7f;    /* 枠の指定 */
    width: 200px;
    margin-bottom: 30px;
  }
}

.thanks-message {
  margin: 50px;
  text-align: center;
  height: 500px;
  h1 {
    border: none;
    margin-bottom: -100px;
  }
  .thanks-image {
    background-image: image-url("thanks.jpeg");
    width: 800px;
    height: 400px;
    background-size: cover;
    margin: 0 auto;
  }
}